* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

.card {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    box-shadow: 20px 20px 20px hsl(216, 56%, 7%);
}

/* .flexbox {
    align-self: center;
    align-items: center;
    justify-content: center;
} */

.days {
    display: flex;
    justify-content: space-between;
}

.image img {
    width: 100%;
    border-radius: 30px;
    padding: 25px;
}

.content {
    padding: 0 25px;
}

.content h1 {
    color: hsl(0, 0%, 100%);
    padding: 0 0 15px 0;
    font-size: 28px;
    font-weight: 600;
}

.content p {
    padding: 0 0 15px 0;
    color: hsl(215, 51%, 70%);
    font-size: 20px;
}

#first-p {
    color: hsl(178, 100%, 50%);
}

#second-p {
    color: hsl(215, 51%, 70%);
}

.hr {
    width: 100%;
    padding: 15px 20px;
    color: hsl(215, 32%, 27%);
}

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 25px 30px 25px;
    column-gap: 15px;
}

.footer p {
    color: hsl(215, 51%, 70%);
    font-size: 20px;
}

.footer p span {
    color: hsl(0, 0%, 100%);
}

.footer img {
    width: 10%;
    border: 1px solid white;
    border-radius: 50%;
}